<!DOCTYPE html>
<html>

  <body>
  
<div class="container">
  <div class="content">
    <div class="content-container">      
      <div>
        <h4 class="heading-inline">Commodities</h4>        
      </div>

       <br>
      
<div class="row"> 
<div class="portlet">

 <div class="portlet-header">
<h3><i class="fa fa-user"></i> Manage Commodity</h3>
</div> <!-- /.portlet-header -->

<div class="portlet-content">
  <div class="portlet-content">
<%= form_for @auth_user_category do |f| %>
  
<div class="col-sm-8"> 
<div class="row">  
<%= f.fields_for :usercategories do |category| %>
<label class="col-md-3">Select Commodity</label>
<div class="col-md-6">
<div id="name" class="input-group">  


<%= category.collection_select :main_category_id, MainCategory.all,  :id , :commodity_name, {prompt:  "Select Commodity"} ,{class: "form-control"} %>
 <% end %><br/><br/><br/>

<%= f.submit "Create Commodity", class: "btn btn-success" %>
<% end %>

        

 

</div>
</div>
</div>
  </div>
  
  
  </div>
  </div>
   </div>



   
   </div><!-- content container ends here -->
   </div> <!-- content ends here -->
  </div><!-- container ends here-->
  
  </body>
</html>



      
    