Dear <%= @user.name %><br/><br/>

<p>Your VatonWheels account  will Expire in 2 days, Contact your CA to extend your Validity</p><br/>

Sincerely,<br/>
<%= link_to "Vaton Wheels Team" , :controller => "home_page", :action => "index", :host =>  "https://sheltered-woodland-8526.herokuapp.com", :port => 3000  %>
