<h3> Membership Details </h3>
Phone Number : <%= @membership.phone_number %><br/>
Membership Start Date : <%= @membership.membership_start_date.strftime("%b %d, %y") %><br/>
Memebership End Date : <%= @membership.membership_end_date.strftime("%b %d, %y") %><br/>
Membership Status : <%= @membership.membership_status %>