<h3> Listing Commodities </h3>
<% if MainCategory.nil? %>
Create New Commodity <%= link_to "Add New Commodity", new_main_category_path %>
<% end %>
<% @categories.each do |c| %>
<ul>
  <li><%= link_to c.commodity_name, main_category_path(c.id) %></li>
</ul>
  <% end %>

<br/>
Add New Commodity <%= link_to "Add Commodity", new_main_category_path %>


    

