<!DOCTYPE html>
<html>

  <body>
  
<div class="container">
<div class="content">
<div class="content-container">      
<div>
<h4 class="heading-inline">Bills Information</h4>        
</div>
<br/>

<div class="row"> 
<div class="portlet portlet-table">
<div class="portlet-header">
  <h3><i class="fa fa-group"></i>User Bills</h3> 
</div> <!-- /.portlet-header -->
<div class="portlet-content">
<div class="table-responsive">
<table id="user-signups" class="table table-striped table-bordered table-checkable"> 
       
<thead> 
<tr> 
<th>User Name</th> 
<th>Total No Of Bills</th>
<th>Esugam Generated </th>
<th>Cash Based Applications </th>
</tr> 

</thead> 
<tbody> 
     
  <% @client_user.each do |user| %>
<% userid = user.authuser.id %>
 
<tr>                      
  <td><%= user.authuser.name %> </td>
  <td><%= user.authuser.bills.count %></td>
  <td><%= user.authuser.bills.where("ESUGAM IS NOT NULL").count %></td>
  <td><%= user.authuser.bills.where("ESUGAM IS NULL").count %></td>
</tr>     
    
<%  end %>
</tbody> 
</table>
        
                  
</div> <!-- /.table-responsive -->
</div> <!-- /.portlet-content -->
</div> <!-- /.portlet -->
</div> <!-- /.row -->

</div> <!-- /.content-container -->
</div> <!-- /.content -->
</div> <!-- /.container -->
    
</body>
</html>














