<!DOCTYPE html>
<html>
  <body>
    
<div class="container">
<div class="content">
<div class="content-container">      
 <div>
  <h4 class="heading-inline">View Bills<br/></h4>        
  </div>

 <br>
<div class="row"> 
<div class="portlet">

 <div class="portlet-header">
   <h3><i class="fa fa-file-text-o"></i>Bills Information</h3>
</div> <!-- /.portlet-header -->

<div class="portlet-content panel-thread scrollable-panel">
  <% @user_bills.each do |bill| %>
<ul class="panel-lists">
<li class="panel-list-title">
<div class="panel-list-content">
 <!-- <span class="panel-list-time">20 mins</span> -->

<ul><li><%= link_to bill.customer.name, bill_path(bill.id) %> /
<%=  bill.tax.tax_type %>
<span class="panel-list-meta">Posted <%= time_ago_in_words (bill.created_at) %> ago</span></li>
</ul>
 <% end %>
 
 <!--<img src="img/avatar-1-md.jpg" alt="Avatar" class="panel-list-avatar"> -->
 

 

</div> <!-- /.portlet-content -->
</div> <!-- /.portlet -->
</div> <!-- /.row -->
</div> <!-- /.content-container -->
</div> <!-- /.content -->
</div> <!-- /.container -->


 
</body>
</html>



