<!DOCTYPE html>
<html>

<body>
  
<div class="container">
<div class="content">
<div class="content-container">      
<div>
<h4 class="heading-inline">Customers</h4>        
 </div>
<br/>

<div class="row"> 
<div class="portlet">

<div class="portlet-header">
<h3><i class="fa fa-user"></i>Download Formats</h3>
</div> <!-- /.portlet-header -->

<div class="portlet-content">
       
<div class="col-sm-8"> 
<div class="row">  
<div class="col-md-6">
<div id="name" class="input-group">  

Download the Import Customer Format&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to customers_customer_download_path(format: "xls") do %> 
   <button class="btn btn-success">Download</button>
      <% end %>
   
</div> <!-- name -->
</div> <!-- col-md-6 -->
</div> <!-- row--><br/><br/>
<p><b>Note: </b>When importing .xls files, save the file as <b>"excel 97-2003 workbook"</b> format to avoid errors</p>
<br/><p>
</div> <!-- col-sm-8"-->
 
</div> <!-- /.portlet-content -->
</div> <!-- /.portlet -->
</div> <!-- /.row -->

  
  
<div class="row"> 
<div class="portlet portlet-table">
<div class="portlet-header">
<h3><i class="fa fa-group"></i>Import Customers</h3> 
</div> <!-- /.portlet-header -->

<div class="portlet-content">
<div class="col-sm-8"> 
<div class="row">  
<div class="col-md-6">
<div id="name" class="input-group">    
        
<%= form_tag customers_customer_import_path, multipart: true do %><br/>
  <%= file_field_tag :file %><br/><p>
  <%= submit_tag "Import Customers", class: "btn btn-success" %>
<% end %><br/>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  
  
</div> <!-- /.content-container -->
</div> <!-- /.content -->
</div> <!-- /.container -->



  
 
</body>
</html>







