<table border="1">
  <tr>
    <th style="background-color: steelblue">Customer Name</th>
    <th style="background-color: steelblue">Email</th>
    <th style="background-color: steelblue">Tin Number</th>
    <th style="background-color: steelblue">Mobile Number</th>
    <th style="background-color: steelblue">Address</th>
    <th style="background-color: steelblue">City</th>
    <th style="background-color: steelblue">State</th>
    </tr>
  
   </table>