 <div class="container">
  <div class="content">
   <div class="content-container">     
     <div>
        <h4 class="heading-inline"><%= current_authuser.name %></h4>        
     </div>
     <br/>
   
      <% if notice %>
          <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <br/><br/>
  <div class="row">   
    
    <div class="col-sm-6 col-md-3">
      <div class="row-stat">
        <p class="row-stat-label">No of Esugam's Generated<br/>This Month</p>
        <h2 class="row-stat-value">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @bills_esugam.count  %></h2>
        <span class="label label-success row-stat-badge"></span>
      </div> <!-- /.row-stat -->
    </div> <!-- /.col -->

 
    <div class="col-sm-6 col-md-3">
      <div class="row-stat">
        <p class="row-stat-label">No of Cash Based Applications<br/> This Month</p>
        <h2 class="row-stat-value">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @cash_based_applications.count  %></h2>
        <span class="label label-success row-stat-badge"></span>
      </div> <!-- /.row-stat -->
    </div> <!-- /.col -->
  </div> <!-- row ends here-->
  
   
   
     </div><!-- content container ends here -->
   </div><!-- content ends here -->
  </div><!-- container ends here -->
  
  





