<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

 
</head>

<body>

 <div class="container">
 <div class="content">
 <div class="content-container">     
   <div>
    <h4 class="heading-inline"><%= current_authuser.name %></h4>        
   </div>
 <br>

<h3> Products List </h3>

<% @products.each do |product| %>
<ul>
  <li>
<%= link_to product.product_name, product_path(product.id) %> |
    <%= link_to "Edit Product", edit_product_path(product.id) %></li>
   </ul>
 <% end %>
   
   </div><!-- content container ends here -->
   </div><!-- content ends here -->
  </div><!-- container ends here -->
  
  </body>
</html>



