<h3>Products </h3>
<% @products.each do |p| %>
<ul>
  <li><%= link_to p.product_name, product_path(p) %></li>
    </ul>
      <% end %>
<%= link_to "Create Product", new_product_path %> | <%= link_to "Back to Categories", usercategories_path %>

<%= will_paginate @products %>