<table border="1">
  <tr>
    <th style="background-color: steelblue">Product Name</th>
    <th style="background-color: steelblue">Units</th>
    <th style="background-color: steelblue">UserCategory ID</th>
    </tr>
  
   </table>