<table border="1">
  <tr>
    <th style="background-color: steelblue">UserCategory ID</th>
    <th style="background-color: steelblue">Commodity Name</th>
    </tr>
  <% @category_product.each do |category| %>
  <tr>
    <td><%= category.id%></td>
    <td><%= category.commodity_name %></td>
    <% end %> 
  </tr>
   </table>